.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;

    .charactersBlock{
        width: 40%;
        height: 100%;
    }
    .vs{
        width: 100px;
        .versus{
            height: 100px;
            width: 100px;
        }
    }
    .hero{
        width: 400px;
        height: 500px;
        object-fit: cover;
        .card-header{
            padding: 0;
            .heroesImg{
                height: 100%;
                max-height: 200px;
                width: 100%;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
        .card-body{
            overflow-y: scroll;
            height: 300px;
            ul{
                overflow: hidden;
            }
            li{
                overflow: hidden;
            }
        }
    }
}
.spellbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

button{
    font-size: 12px;
}

.hero-snackbar {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.enemy-snackbar {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.winner-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    margin: 15px auto;
    width: 200px;
    height: 200px;
}