<div class="container">
    <h1>Fight page</h1>
</div>

<h2 class="d-flex text-align-center justify-content-center">Round {{ roundNumber }}</h2>

<div *ngIf="selectedHero?.hp === 0 || randomEnemy?.hp === 0" class="winner-info">
    <h2>{{ selectedHero!.hp === 0 ? randomEnemy!.name : selectedHero!.name }} wins!</h2>
    <button (click)="returnToListOfHeroes()">Return to List of Heroes</button>
</div>
<div class="container">
    <!-- hero bloc -->
    <div class="charactersBlock">
        <app-character-card [name]="selectedHero!.name" [imageUrl]="selectedHero!.imageUrl" [hp]="selectedHero!.hp"
            [maxHp]="selectedHero!.maxHp" [atk]="selectedHero!.atk" [spells]="selectedHero!.spells"
            [items]="selectedHero!.items">
        </app-character-card>
        <p *ngIf="winner === 'Hero'"> {{ selectedHero!.name }} is the winner</p>
        <div class="spellbar">
            <button class="btn btn-primary" (click)="castSpell(spell.id, randomEnemy!)"
                *ngFor="let spell of selectedHero!.spells">{{
                spell.name }}</button>
            <button class="btn btn-primary">Attack</button>
        </div>
    </div>
    <!-- vs bloc -->
    <div class="vs">
        <img src="/assets/images/heroes/vs.jfif" alt="" class="versus">
    </div>
    <!-- Enemy block -->
    <div class="charactersBlock">
        <app-character-card [name]="randomEnemy!.name" [imageUrl]="randomEnemy!.imageUrl" [hp]="randomEnemy!.hp"
            [maxHp]="randomEnemy!.maxHp" [atk]="randomEnemy!.atk" [spells]="randomEnemy!.spells"
            [items]="randomEnemy!.items">
        </app-character-card>
        <p *ngIf="winner === 'Enemy'"> {{ randomEnemy!.name }} is the winner !</p>
        <div class="spellbar">
            <button class="btn btn-danger" *ngFor="let spell of randomEnemy!.spells">{{
                spell.name }}</button>
            <button class="btn btn-danger">Attack</button>
        </div>
    </div>
</div>