<div class="container">
  <h1>List of heroes :</h1>
</div>
<div class="container">
  <mat-card *ngFor="let hero of heroes" [class.selected]="selectedHero === hero" (click)="selectHero(hero)"
    class="card">
    <mat-card-header>
      <mat-card-title> {{ hero.name }}</mat-card-title>
    </mat-card-header>
    <img class="heroesImg mat-card-image" [src]="hero.imageUrl" alt="{{ hero.name }}">
    <mat-card-content>
      <div class="stats">
        <p>HP: {{ hero.hp }}</p>
        <p>ATK: {{ hero.atk }}</p>
        <div class="d-flex justify-content-start align-items-start">
          <p>Spells: </p>
          <ul>
            <li *ngFor="let spell of hero.spells">{{ spell.name }} {{ spell.damage }}</li>
          </ul>
          <p *ngIf="hero.items.length > 0">Items:</p>
          <ul>
            <li *ngFor="let item of hero.items">{{ item.name }}</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="container-start">
  <button class="btn btn-primary" [disabled]="!selectedHero" (click)="goToFight()">Start Fight</button>
</div>