::ng-deep app-heroes{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;

    .row{
        width: 100%;
    }

    .card-header{
        height: 205px;
        padding: 0;
        
        .heroesImg{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
    .card{
        height: 100%;
        min-height: 550px;
        min-width: 400px;
        margin: 10px;
        padding: 0;
    }
    .card.selected{
        box-shadow: 0 0 0 5px blue;
    }
}
.heroesImg{
    height: 100%;
    width: 100%;
}
.container-start{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
