
<div class="container" >
    <div *ngFor="let hero of heroes" class="card">
        <div class="card-header">
          <img class="heroesImg" [src]="hero.imageUrl" alt="{{ hero.name }}">
        </div>
        <div class="card-body">
          <h2>{{ hero.name }}</h2> 
          <ul>
            <li>HP: {{ hero.hp }}</li>
            <li>ATK: {{ hero.atk }}</li>
            <li>Spells: 
              <ul>
                <li *ngFor="let spell of hero.spells">{{ spell.name }}</li> 
                <!-- // rajouter les dégats des spells // plutot créer un composant spell pour n'avoir à changer que le composant spell plutot que le héro -->
              </ul>
            </li>
            <!-- Si la liste item vide faire opacity 0 -->
            <li>Items: 
              <ul>
                <li *ngFor="let item of hero.items">{{ item.name }}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
</div>

<div class="container-start">
    <button class="btn btn-primary">Start Fight</button>
</div>
