.container{
    display: flex;
    justify-content: center;
    align-items: center;

    .card-header{
        height: 205px;
        padding: 0;
    }
    .card{
        width: 33%;
        height: 100%;
        margin: 10px;
    }
}
.heroesImg{
    height: 100%;
    width: 100%;
}
.container-start{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
